<header class="header">
  <nav class="navbar nav-flex container">
    <div class="sidebar_wrapper">
      <%-include('sidebar')-%>
    </div>

    <div class="sidebar-toggle">
      <button class="sidebar-btn">
        <i class="fas fa-bars bars-icon"></i>
      </button>
    </div>

    <p class="brand-name">
      <a href="/">Shopping Cart</a>
    </p>

    <ul class="nav-list">
      <li class="nav-list-item">
        <form action="#" method="POST" class="search-wrapper">
          <input type="text" class="searchbox" />
          <button class="search-btn">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </li>

      <li class="nav-list-item dropdown">
        <div class="dropdown_parent">
          <% if(user) {%>
          <p class="small">Hello, <%= user.name.split(" ")[0] %></p>
          <%} else {%>
          <p class="small">Hello, <a href="/users/login">Sign in</a></p>
          <%}%>
          <p class="nav-item-info">
            Account & Lists <i class="fas fa-caret-down"></i>
          </p>
        </div>

        <ul class="dropdown-list">
          <% if(user) {%>
          <li class="dropdown_heading">Your Account</li>
          <li><a href="/users/<%=user.id%>/profile"> Your Account </a></li>
          <li>Your Wishlist</li>
          <li>Your Orders</li>
          <li>
            <a href="/users/logout"> Log Out</a>
          </li>

          <%} else {%>
          <a href="/users/login">
            <button>Sign in</button>
          </a>
          <p class="small-para">
            New Customer? <a href="/users/signup">Start Here</a>
          </p>
          <%}%>
        </ul>
      </li>
      <% if(user && !user.isAdmin) {%>
      <li class="nav-list-item cart-flex">
        <div class="cart-flex">
          <p class="cart_icon">
            <a href="/user/cart"><i class="fas fa-shopping-cart"></i></a>
          </p>
          <p class="small">
            <a href="/user/cart">Cart</a>
          </p>
        </div>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
