<%-include('partials/header')-%>

<%-include('partials/navbar')-%>

<div class="container">
    <form action="/admin/add-product" method="POST" class="product-form" enctype="multipart/form-data">
        <label class="product-form-label">Product Name</label>
        <input type="text" name="name" class="product-input"> 
        
        <label class="product-form-label">Description</label>
        <textarea name="description" rows="10" class="product-input"></textarea>

        <label class="product-form-label">Company</label>
        <input type="text" name="company" class="product-input"> 
    
        <label class="product-form-label">Category</label>
        <input type="text" name="category" class="product-input"> 

        <label class="product-form-label">Price</label>
        <input type="Number" name="price" class="product-input">
    
        <label class="product-form-label">Product's Image</label>
        <input type="file" name="image" class="product-image">
    
        <label class="product-form-label quantity">Quantity</label>
        <input type="Number" name="quantity" class="product-input">
        
        <input type="submit" class="product-submit-btn form-btn">
    </form>
    
</div>

<%-include('partials/footer')-%>