<%- include('partials/header') -%>

<body>
  <div class="container">
    <div class="form_wrapper">
      <h2 class="form-heading">
        Sign in
      </h2>
      <form action="/users/login" method="POST" class="form">
        <label>Email</label>
        <input
          type="email"
          name="email"
          class="form-email"
        />
        <label>Password</label>
        <input
          type="password"
          name="password"
          class="form-password"
        />
        <input type="submit" value="Sign in" class="form-btn" />
      </form>

      <p class="form-para google-login">
        <a href="/auth/google">
          <i class="fab fa-google"></i>
          Sign in with Google
        </a>
      </p>
      <p class="form-para">
        New to Shopping Cart? <a href="/users/signup">Create Account</a>
      </p>
    </div>
  </div>
</body>

<%- include('partials/footer') -%>
