<%- include('partials/header') -%>

  <%-include('partials/navbar')-%>
  <body>
    <form action="/users/signup" method="POST">
      <input type="text" name="name" placeholder="Name" />
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Password" />
      <input type="submit" value="Sign Up" />
    </form>
  </body>
  
<%- include('partials/footer') -%>

