html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Common */

body {
  font-size: 16px;
  line-height: 1.5;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

*,*::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}


/* Nav Bar */

.header {
  background-color: rgb(201, 237, 252);
}


.nav-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.25rem 0rem;
  line-height: 1.1;
  width: 100%;
}

.search-wrapper {
  display: block;
}

.brand-name {
  flex-basis: 11%;
  font-size: 20px;
  font-weight: 550;
  text-align: center;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;  
  flex-basis: 80%;
}

.nav-list-item .search-wrapper {
  flex-basis: 90%;
  position: relative;
  top: 0rem;
  left: 0rem;
}

.nav-list-item {
  cursor: pointer;
}

.searchbox {
  font-size: 18px;
  width: 35rem;
  padding: 0.5rem;
}

.search-btn {
  position: absolute;
  top: 0.09rem;
  right: 0.1rem;
  padding: 0.65rem 0.9rem;
  background: transparent;
  border: none;
}

.small {
  font-size: 0.9rem;
}

.cart-flex {
  display: flex;
  align-items: flex-end;
}

.cart_icon {
  font-size: 1.5rem;
}

.dropdown {
  position: relative;
  top: 0rem;
  left: 0rem;
  
}
.dropdown-list {
  background-color: #fff;
  padding: 1rem 1.5rem;
  line-height: 2;
  width: 9rem;
  
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 0.05rem solid #ddd;
  border-radius: 0.18rem;
  font-size: 0.9rem;
  display: none;
}

.dropdown_heading {
  font-size: 1.01rem;
  font-weight: 550;
}

.dropdown_parent:hover ~ .dropdown-list, .dropdown-list:hover {
  display: block;
}

.dropdown-list li:hover {
  color: #777;
}

/* Nav Sidebar */


.sidebar-btn {
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 0.05rem solid #777;
  background-color: rgb(245, 245, 245);
}

.bars-icon {
  font-size: 1.1rem;
}


.sidebar-list {
  position: absolute;
  left: 0rem;
  top: 0rem;
  line-height: 2;
  width: 20rem;
  min-height: 100vh;
  overflow-y: scroll;
  border: 0.1px solid rgb(219, 219, 219);
  z-index: 55;
  margin-left: -40rem;
  transition: 0.5s ease;
  background-color: #fff;
  position: fixed;
}

.sidebar-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.sidebar-list {
  -ms-overflow-style: none;
}

.sidebar_items {
  padding: 0.8rem 2rem;
}

.sidebar_heading {
  display: flex;
  align-items: center;
  background-color:rgb(35,47,62);
  padding: 0.8rem 2rem;
  color: #fff;
}

.user_icon {
  font-size: 1.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.category_heading {
  color: rgb(156,153,157);
}

.cross-btn {
  
  position: relative;
  left: 15rem;
  top: 0rem;
  padding: -1rem;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  border: none;
  z-index: 55;
  cursor: pointer;
  outline: 0;
  margin-left: -30rem;
  transition: 0.5s ease;
}

.active {
  margin-left: 0rem;
  transition: 0.5s ease;
}

/* Sign up */

.form_wrapper {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 21.875rem;
  padding: 1.25rem;
  border: 0.01rem solid rgb(236, 236, 236);
}

.form input, .form label{
  display: block;
  margin-top: 0.5rem;
  width: 100%;
}

.form-name, .form-email, .form-password {
  border: 0.05rem solid #777;
  border-radius: 2%;
  padding: 0.5rem 1rem;
  
}

.form-btn {
  display: block;
  width: 100%;
  margin: 2rem 0rem;
  padding: 0.5rem;
  font-weight: bold;
  background:rgb(90, 155, 241);
  border-radius: 2%;
  color: #fff;
  border: none;
  margin: 40rem 0rem 2rem 0rem;
}


.form-btn:hover {
  background:rgb(44, 135, 255);
}

.form-para {
  margin: 1rem 0rem 0.3rem 0rem;
  font-size: 0.9rem;
  color: rgb(95, 95, 95);
}

.form-heading{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.google-login {
  text-align: center;
  margin-bottom: 2rem;
  color: rgb(95, 95, 95);
}

.small-para {
  font-size: 0.7rem;
}

/* Add Product Form */

.product-input, .product-form-label, .product-image, .product-category, .product-rating {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.product-input {
  font-size: 1.25rem;
  padding: 0.5rem;
  resize: none;
  outline: 0;
}

.product-category, .product-rating {
  padding: 0.5rem;
}

.product-form-label {
  font-size: 1.2rem;
  font-weight: 550;
  margin: 1rem auto;
  color: rgb(10, 10, 10);
  
}

.product-submit-btn {
  display: block;
  width: 50%;
  padding: 0.5rem;
  margin: 2rem auto;
  background:rgb(90, 155, 241);
}

.product-submit-btn:hover {
  background:rgb(44, 135, 255);
}

/* Individual Product Page */

.product-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  align-items: flex-start;
  width: 100%;
  margin: 3rem auto;
  flex-wrap: wrap;
}

.product-image-btns{
  flex-basis: 28%;
}

.individual-product-image {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0rem auto;
  object-fit: contain;
}

.product-image-wrapper {
  
  height: 65vh;
}
/* .individual-product-image img {
  width: 100%;
  min-height: 25vh;
} */

.product-desc-wrapper {
  flex-basis: 72%;
  /* background-color: yellowgreen; */
}

.product-title {
  font-size: 1.6rem;
  margin-left: 0.5rem;  
  max-width: 75%;
  line-height: 1.2;
}

.product-category, .product-rating {
  text-align: left;
  width: 100%;
  text-transform: capitalize;
  color: rgb(109,97,118);
  font-size: 0.9rem;
}

.product-desc {
  max-width: 70%;
  margin-left: 0.5rem;
}

.product-cost-wrapper {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}
.price-tag {
  font-size: 0.9rem;
  margin-right: 0.5rem;
  color: rgb(109,97,118);
  
}

.price {
  padding: 0.8rem 0rem;
  font-size: 1.25rem;
  color: rgba(176,48,60,0.9);
}

.cart-btns {
  display: flex;
  justify-content: center;
}

.cart-btns a {
  color: #fff;
}

.add-cart-btn, .buy-now-btn {
  margin: 1.5rem 0rem;
  width: 10rem;
  padding: 0.8rem;
  font-weight: bold;
  background:rgb(90, 155, 241);
  border-radius: 2%;
  border: none;
  font-size: 1rem;
}

.add-cart-btn {
  margin-right: 0.5rem;
}

.add-cart-btn .cart-icon {
  color: #eee;
  font-size: 1.5rem;
  margin-right: 0.2rem;
}

.product-header-flex {
  display: flex;
  width: 65%;
  align-items: center;
  justify-content: space-between;
}

.product-header-flex a:hover {
  text-decoration: underline;
  
}

.product-edit {
  margin-right: 1rem;
}

/* Home Page */

.product-card {
  width: 10rem;
  flex-basis: 15%;
  padding: 0.5rem;
  margin: 0rem 1.5rem;
}

.product-card-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.product-card-flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 3rem;
 
  /* justify-content: space-evenly; */
}

.product-card-image {
  width: 10rem;
  height: 13.47rem;
  object-fit: contain;
}


.product-card-title {
  max-width: 100%;
  font-size: 0.8125rem;
  padding-bottom: 0.2rem;
  
}

.product-card-price {
  font-size: 1.2rem;
  width: 100%;
  text-align-last: left;
}

.ruppee-icon {
  font-size: 0.8rem;
  vertical-align: text-top;
}

.product-card a {
  color: #000;
  cursor: pointer;
}

.product-card-title:hover {
  text-decoration: underline;
}

.product-company {
  font-size: 0.8125rem;
  text-transform: capitalize;
  color: #555;
  margin: 0.1rem 0rem;
}


/* Cart Page */

.cart-card-wrapper {
  width: 60%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.cart-card-left {
  flex-basis: 70%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}


.cart-image-wrapper {
  flex-basis: 20%;
}

.cart-product-image {
  width: 6rem;
  height: 9.5rem;
  object-fit: contain;
  margin-right: 0.5rem;
}

.quantity-update-btns {
  display: flex;
  align-items: center;
}

.cart-product-price {
  padding: 0.5rem 0rem;
}

.cart-product-quantity {
  text-align: center;
  margin: 0rem 0.5rem;
  width: 5rem;
  border: none;
  border-bottom: 0.1rem dashed #555;
  font-size: 1.5rem;
  outline: 0;
}

.inc-cart-product, .dec-cart-product {
  font-weight: bold;
  font-size: 1.5rem;
  width: 2.2rem;
  border-radius: 45%;
  background-color: #eee;
  border: 0.1rem solid rgb(190, 188, 188);
  outline: 0;
  vertical-align: middle;
  padding: 0.01rem;
 
}

.cart-product-infos{
  flex-basis: 74%;
}

.cart-card-right {
  text-align: center;
  font-weight: bold;
}

/* Comments */

.comment-flex {
  width: 50%;
  margin: 0 auto;
  position: relative;
  left: 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  padding: 1rem;
  
  /* border: 0.05rem solid rgb(168, 168, 168); */
}


.comment-form-name, .comment-desc {
  display: block;
}

.comment-form-btn {
  display: block;
}

.comment-card {
  width: 43%;
  margin: 2rem auto;
}

.review-flex {
  display: flex;
  align-items: center;
}

.reviewer-icon {
  font-size: 2.5rem;
  color: rgb(171,183,183);
}

.reviewer-name {
  font-size: 1.15rem;
  margin-left: 0.65rem;
}

.review-date {
  color: rgb(85,91,95);
  margin: 0.15rem;
  font-size: 0.85rem;
}

.edit-comment, .delete-comment {
  display: inline-block;
  margin-top: 1rem;
}

.edit-comment {
  margin-right: 1rem;
}


/* User List */

.user-table {
  
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 5rem;
}

.user-table th, .user-table td {
  padding: 0.5rem;
  border: 0.01rem solid  rgb(85,91,95);
}

/* Rating */

.star {
  width: 100%;
  overflow: hidden;
}

.star {
  color: #ccc;
}

.starCheckBox {
  /* display: none; */
}

.rated {
  color: gold;
}